<!-- index.hbs -->
<h1>Appointments Page</h1>


{{!-- Create a table --}}
<table>


   {{!-- Header section --}}
   <thead>


       {{!-- For just the first row, we print each key of the row object as a header cell so we
       know what each column means when the page renders --}}
       <tr>
           {{#each data.[0]}}
           <th>
               {{@key}}
           </th>
           {{/each}}
       </tr>
   </thead>


   {{!-- Body section --}}
   <tbody>


       {{!-- For each row, print the id, date and time, patient ID, provider ID, patient first and last name --}}
       {{#each data}}
       <tr>
           <td>{{this.appointment_id}}</td>
           <td>{{this.appointment_date_time}}</td>
           <td>{{this.Patients_patient_id}}</td>


           {{#if this.Providers_provider_id}}
           <td>{{this.Providers_provider_id}}</td>
           {{else}}
           <td></td>


           {{/if}}


           <td>{{this.patient_first_name}}</td>
           <td>{{this.patient_last_name}}</td>


           {{#if this.Providers_provider_id}}
           <td>{{this.provider_first_name}}</td>
           <td>{{this.provider_last_name}}</td>
           {{/if}}


           {{#if this.Providers_provider_id}}
           {{else}}
           <td></td>
           <td></td>
           {{/if}}


           <td>
               <form class="delete-appointment-form-ajax" action="/delete-appointment" method="POST">
                   <button type="submit" name="delete_appointment_id" value="{{this.appointment_id}}">Delete</button>
               </form>
           </td>
           <td>
               <form class="update-appointment-form" action="/update-appointment" method="POST" >
               <button type="button" class="update-appointment-btn" onclick="showAddAppointmentForm()">Update</button>
               </form>
           </td>
       </tr>
       {{/each}}
   </tbody>
</table>


<form action="/add-appointment" method="post">
 <label for="patient_id">Patient:</label>
 <select name="patient_id">
   {{#each patients}}
     <option name="pat_id" value="{{this.patient_id}}">{{this.first_name}} {{this.last_name}}</option>
   {{/each}}
 </select>


 <label for="provider_id">Provider:</label>
 <select name="provider_id">
   {{#each providers}}
     <option name="prov_id" value="{{this.provider_id}}">{{this.first_name}} {{this.last_name}}</option>
   {{/each}}
   <option value="" >NULL</option>
 </select>


 <label for="datetime_id">Date and Time:</label>
 <input type="datetime-local" id="datetime_id" name="appointment_date_time">


 <button type="submit" >Schedule Appointment</button>
</form>

<form action="/update-appointment" method="post">
  <h2>Update Appointment</h2>

  <label for="appointment_id">Appointment ID:</label>
  <select name="appointment_id">
    {{#each data}}
      <option value="{{this.appointment_id}}">{{this.appointment_id}}</option>
    {{/each}}
  </select>

  <label for="patient_id2">Patient:</label>
  <select name="patient_id2">
    {{#each patients}}
      <option name="pat_id" value="{{this.patient_id}}">{{this.first_name}} {{this.last_name}}</option>
    {{/each}}
  </select>

  <label for="provider_id2">Provider:</label>
  <select name="provider_id2">
    {{#each providers}}
      <option name="prov_id" value="{{this.provider_id}}">{{this.first_name}} {{this.last_name}}</option>
    {{/each}}
    <option value="">NULL</option>
  </select>

  <label for="datetime_id2">Date and Time:</label>
  <input type="datetime-local" id="datetime_id2" name="appointment_date_time2">

  <button type="submit" name="action" value="update">Update Appointment</button>
</form>

