<!-- index.hbs -->
<h1>Patients Page</h1>


{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.patient_id}}</td>
            <td>{{this.gender}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.dob}}</td>
            <td>{{this.insurance}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Create the form --}}
<form method="POST" action="/add-patient">

  {{!-- First Name --}}
  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name" required>

  {{!-- Last Name --}}
  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name" required>

  {{!-- Gender --}}
  <label for="gender">Gender:</label>
  <select id="gender" name="gender" required>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>

  {{!-- DOB --}}
  <label for="dob">DOB:</label>
  <input type="date" id="dob" name="dob" required>

  {{!-- Insurance --}}
  <label for="insurance">Insurance:</label>
  <input type="text" id="insurance" name="insurance">

  {{!-- Submit button --}}
  <input type="submit" value="Submit">