<!-- index.hbs -->
<h1>Patient Tests Page</h1>


{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.patient_test_id}}</td>
            <td>{{this.test_result}}</td>
            <td>{{this.test_date}}</td>
                        <td>{{this.patients_patient_id}}</td>
            <td>{{this.tests_test_id}}</td>

        </tr>
        {{/each}}
    </tbody>
</table>